
<h2>creating events</h2>
<br>
<br>
<button (click) = "eventcollection('age:21')">click me</button>"
<br>
<br>
<br>
<input type="text" />
<br>
<br>
<br>
<input type="text" #box (keyup)="eventcollection(box.value)" />
<br>
<br>
<br>
<input type="text" #box (keyup.enter)="eventcollection(box.value)" />
<br>
<br>
<br>
<input type="text" #box (keyup.space)="eventcollection(box.value)" />
<br>
<br>
<br>
<input type="text" #box (keydown.enter)="eventcollection(box.value)" />
<br>
<br>
<br>
<div (mouseover)="eventcollection('mouse in')"
 style = "background-color: cadetblue;">
 mouse events
</div>
<br>
<br>
<br>
<div (mouseleave)="eventcollection('mouse out')"
 style = "background-color: cadetblue;">
 mouse events
</div>
<br>
<br>
<br>
<input type="text" (blur) ="eventcollection(box.value)" />

